<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.PutUser"/>
      <class name="tests.Base"/>
      <class name="tests.GetandPostEx"/>
      <class name="tests.PostUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
